<script src="/javascripts/main.js" type="module" defer></script>
<h3>You can filter the comments by any relationship with me!<h3>
<form method="POST" action="">
    <select class="filter">
        <option value="all">all</option>
        <option value="mine">mine</option>
        <option value="friend">friend</option>
        <option value="family">family</option>
    </select>
    <input type="submit" value="search" class="filterBtn">
</form>
<h3> Create your comment below! </h3>
<form method= "POST" action="">
    <div>
		<label for="comment">Comment:</label>
		<textarea name="comment" id="comment"></textarea>
	</div>
    <input type="submit" value="submit" name="submitBtn" disabled>
</form>
<h3>Test Comments</h3>
    <div class="commentsTable">
        {{#each comments}}
            <div class="commentsEle">
                <div class="commentsName">{{authorName}}</div>
                <div class="comments">{{authorHoroscope}}</div>
                <div class="comments">{{authorRelationship}}</div>
                <div class="content">{{content}}</div>
                <br>
            </div>
        {{/each}}
    </div>

