<!DOCTYPE html>
<html>
		<head>
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
                <script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>
				<meta charset="utf-8" />
				<meta name="viewport" content="width=device-width" />
                <link rel="stylesheet" href="/css/style.css">
				<title></title>
		</head>
		<body>
        <!--Header-->

        {{#if user}}
        Logged in as {{user.name}}
        {{/if}}
        <div class="container">
		{{{ body }}}
        </div>
        <!--Footer-->
        <footer>
            <a href="/">Homepage</a>
            <a href="/polaroid">Polaroid</a>
            <a href="/forum">Forum</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            {{#if user}}
                <a href="/logout">Logout</a>
            {{/if}}
        </footer>
		</body>
</html>