<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8" />
				<meta name="viewport" content="width=device-width" />
                <link rel="stylesheet" href="/css/style.css">
				<title></title>
		</head>
		<body>
        <!--Header-->

        {{#if user}}
        <h2 style="color: darkgrey; font-weight: bold;">Logged in as {{user.name}}</h2>
        {{/if}}
        <div class="container">
		{{{ body }}}
        </div>
        <!--Footer-->
        <footer>
            <a href="/">Homepage</a>
            <a href="/polaroid">Polaroid</a>
            <a href="/forum">Forum</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            {{#if user}}
                <a href="/logout">Logout</a>
            {{/if}}
        </footer>
		</body>
</html>