<script src="/javascripts/polaroid.js" type="module" defer></script>
<h2>you can swipe the photos or click the dots on the bottom to change photos!</h2>
<div class="gallery">
  <div class="dots"></div>
  <div class="slides">
    <div><img src="/img/IMG_6242.JPG"></div>
    <div><img src="/img/IMG_6245.JPG"></div>
    <div><img src="/img/IMG_6288.JPG"></div>
  </div>
</div>