<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Example Register Form</title>
  </head>
  <body>
	<form action="" method="post">
  	  <!-- user input-->
      Name:<br>
  	  <input type="text" name="name" placeholder="Name" required><br><br>
  	  Email:<br>
  	  <input type="text" name="email" placeholder="Email" required><br><br>
  	  Password:<br>
  	  <input type="text" name="password" placeholder="Password" required><br><br>
      Horoscope:<br>
  	  <select name="horoscope">
        <option value="Aries">Aries</option>
        <option value="Taurus">Taurus</option>
        <option value="Gemini">Gemini</option>
		<option value="Cancer">Cancer</option>
        <option value="Leo">Leo</option>
        <option value="Virgo">Virgo</option>
		<option value="Libra">Libra</option>
        <option value="Scorpio">Scorpio</option>
        <option value="Sagittarius">Sagittarius</option>
		<option value="Capricorn">Capricorn</option>
        <option value="Aquarius">Aquarius</option>
        <option value="Pisces">Pisces</option>
    </select><br><br>
      relationship:<br>
  	  <select name="relationship">
        <option value="self">self</option>
        <option value="family">family</option>
        <option value="friend">friend</option>
    </select><br><br>
  	  <!-- submit button -->
  	  <input type="submit" value="register">
	</form>
  </body>
</html>