<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Example Register Form</title>
  </head>
  <body>
  <script src="/javascripts/validation.js" type="module" defer></script>
  <h2>
    {{#if message}}
        {{message}}
    {{/if}}
  </h2>
	<form action="" method="post">
  	  <!-- user input-->
      <li name="nameRule">
        Username MUST be at least 2 characters long
      </li>
      Name:<br>
  	  <input type="text" name="name" placeholder="Name" required><br><br>
      <li name="emailRule">
        Email MUST be a valid email
      </li>
  	  Email:<br>
  	  <input type="email" name="email" placeholder="Email" required><br><br>
      <li name="pwdRule1">
        Password MUST be at least 8 characters long
      </li>
  	  Password:<br>
  	  <input type="password" name="password" placeholder="Password" required><br><br>
      Horoscope:<br>
  	  <select name="horoscope">
        <option value="Aries">Aries</option>
        <option value="Taurus">Taurus</option>
        <option value="Gemini">Gemini</option>
		<option value="Cancer">Cancer</option>
        <option value="Leo">Leo</option>
        <option value="Virgo">Virgo</option>
		<option value="Libra">Libra</option>
        <option value="Scorpio">Scorpio</option>
        <option value="Sagittarius">Sagittarius</option>
		<option value="Capricorn">Capricorn</option>
        <option value="Aquarius">Aquarius</option>
        <option value="Pisces">Pisces</option>
    </select><br><br>
      relationship:<br>
  	  <select name="relationship">
        <option value="self">self</option>
        <option value="family">family</option>
        <option value="friend">friend</option>
    </select><br><br>
  	  <!-- submit button -->
  	  <input type="submit" value="register" name="submit">
	</form>
  </body>
</html>